<div>
    <form [formGroup]="productForm">
        <p>
            <label>
                id: <input id="id" type="number" formControlName="id" />
            </label>
        </p>
        <p>
            <label>
                productName: <input id="productName" type="text" formControlName="productName" />
            </label>
        </p>
        <p>
            <label>
                productCode: <input id="productCode" type="text" formControlName="productCode" />
            </label>
        </p>
        <p>
            <label>
                releaseDate: <input id="releaseDate" type="text" formControlName="releaseDate" />
            </label>
        </p>
        <p>
            <label>
                description: <input id="description" type="text" formControlName="description" />
            </label>
        </p>
        <p>
            <label>
                price: <input id="price" type="number" formControlName="price" />
            </label>
        </p>
        <p>
            <label>
                starRating: <input id="starRating" type="number" formControlName="starRating" />
            </label>
        </p>
        <p>
            <label>
                imageUrl: <input id="imageUrl" type="text" formControlName="imageUrl" />
            </label>
        </p>
    </form>
</div>